# non-project files to ignore
*.bat
*.csv
*.jpg
*.log
*.p
*.pdf
*.pptx
*.png
*.pptx
*.pyc
*.sh
*.tmp
*.txt
*.xlsx
tmp*.*
*.old*
*~*
*.sav*
Thumbs.db

# jupyter notebook prototype file
premrpi2.ipynb

# jupyter notebook and checkpoint files
.ipynb_checkpoints/

# archive and tmp folder files
archive/
tmp*/